* {
  box-sizing: border-box;
  padding: 0;
  margin: 0;
}

body {
  background-color: #d9dcd6;
}

.header {
  padding: 20px;
  font-family: "Trebuchet MS", "Lucida Sans Unicode", "Lucida Grande",
    "Lucida Sans", Arial, sans-serif;
  background-color: #2a607c;
  color: #ffffff;
}

/*Combined header and header.seo attributes*/
.header h1 {
  display: inline-block;
  font-size: 48px;
  color: #d9dcd6;
}

/*Changed div to nav to reflect the change to semantic HTML*/
.header nav { 
  padding-top: 15px;
  margin-right: 20px;
  float: right;
  font-family: "Gill Sans", "Gill Sans MT", Calibri, "Trebuchet MS", sans-serif;
  font-size: 20px;
}

/*Changed div to nav to reflect the change to semantic HTML*/
.header nav ul {
  list-style-type: none;
}

/*Changed div to nav to reflect the change to semantic HTML*/
.header nav ul li {
  display: inline-block;
  margin-left: 25px;
}

a {
  color: #ffffff;
  text-decoration: none;
}

p {
  font-size: 16px;
}

.hero {
  height: 800px;
  width: 100%;
  margin-bottom: 25px;
  background-image: url("../images/digital-marketing-meeting.jpg");
  background-size: cover;
  background-position: center;
}

.float-left {
  float: left;
  margin-right: 25px;
  display: block;
}

.float-right {
  float: right;
  margin-left: 25px;
  display: block;
}

.content {
  width: 75%;
  display: inline-block;
  margin-left: 20px;
}

.benefits {
  margin-right: 20px;
  padding: 20px;
  clear: both;
  float: right;
  width: 20%;
  height: 100%;
  font-family: "Gill Sans", "Gill Sans MT", Calibri, "Trebuchet MS", sans-serif;
  background-color: #2589bd;
}

/*Consolidated benefit section sub-categories under a new id*/
.aside-class {
  margin-bottom: 32px;
  color: #ffffff;
}

/*Consolidated h3 benefit section sub-categories*/
h3 {
  margin-bottom: 10px;
  text-align: center;
  color: #ffffff;
  text-decoration: none;
}

.aside-img {
  display: block;
  margin: 10px auto;
  max-width: 150px;
}

/*Consolidated SEO-ORM-SMM under the content headings class for cleaner and more streamlined code*/
.content-headings {
  margin-bottom: 20px;
  padding: 50px;
  height: 300px;
  font-family: "Gill Sans", "Gill Sans MT", Calibri, "Trebuchet MS", sans-serif;
  background-color: #0072bb;
  color: #ffffff;
}

/* Consolidated content-headings img together with identical elements */
.content-headings img {
  max-height: 200px;
}

/* Consolidated content-headings h2 together with identical elements */
.content-headings h2 {
  margin-bottom: 20px;
  font-size: 36px;
}

/* Added code to make <p> text white in benefits section */
p {
  color: #ffffff;
  text-decoration: none;
}

.footer {
  padding: 30px;
  clear: both;
  font-family: "Trebuchet MS", "Lucida Sans Unicode", "Lucida Grande",
    "Lucida Sans", Arial, sans-serif;
  text-align: center;
}

/* Changed from h2 to h4 to reflect order and relevance */
.footer h4 {
    font-size: 20px;
}
